@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    font-style: normal;
}

.navbar{
    margin: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn{
    color: #006A50;
    padding: 10px 15px;
    border: 2px solid #006A50;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
}

.banner-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    /* height: 70vh; */
    margin: 0 auto;
    background: #C6E4D6;
    border-radius: 10px;
    gap: 24px;
    padding: 50px 15px;
}

.banner-img{
    width: 400px;
}

.banner-title{
    color: #0E0E0E80;
}

.banner-subtitle{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn{
    color: white;
    background: #006A50;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 6px;
}

/* header-section closed */

/* text-color */

.text-color{
    color: #0E0E0EB3;
}

.top-bottom{
    margin: 15px 0;
}

.bottom{
    margin-bottom: 15px;
}

main{
    width: 80%;
    margin: 100px auto;
}

.vision-title{
    margin-bottom: 20px;
    font-size: 30px;
}

.vision-cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    background: rgb(226, 211, 211);
    padding: 27px 20px;
    border-radius: 10px;
    border: 1px solid #0E0E0E26;

}

.card-btn{
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

/* vision-section end */

.quote-section{
    background-image: url('./assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-color: aliceblue;
    padding: 25px;
    border-radius: 10px;
    margin: 5px 10px;
    box-shadow: 0px 4px 10px rgb(210, 209, 209);

}



.news{
    margin-top: 100px;
}

.news-cards{
    margin-top: 100px;
}

.news-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: whitesmoke;
    border-radius: 25px;
    margin-bottom: 30px;
    padding: 17px 0;
    border: 1px solid #0E0E0E26;
}

.light-img{
    width: 300px;
    border-radius: 15px;
}

/* news-section-end */

.donate-bg{
    background: rgb(242, 239, 239);
    padding: 20px;
}
.donate{
    text-align: center;
    align-items: center;
}

.money{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.btn-money{
    background: whitesmoke;
    border: 1px solid #0E0E0E26;
    font-weight: 700;
    font-size: 40px;
    padding: 20px 15px;
    border-radius: 10px;
    box-sizing: border-box;
}


.btn-money:hover ,.money-btn{
    background: chocolate;
    transition: 0.3s;
    color: white;
}



input[type="text"]{

    width: 70%;
    margin: 20px auto;
    font-size: 20px;
    padding: 15px 0;
    display: block;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #0E0E0E26;
}

.donate-form{
    text-align: center;
}
.donate-btn{
    margin-bottom: 20px;
}

/* donate-section-close */

.second-bg{
    background: #C6E4D6;
    border-radius: 15px;
    margin: 200px 0;
    padding: 100px;
}

.text-center{
    text-align: center;
}

.title-of-letter{
    font-size: 40px;
    margin-bottom: 20px;
}



input[type="email"]{
   padding: 15px;
  width: 40%;
  margin-top: 50px;
  border: 1px solid #0E0E0E26;
  border-radius: 10px 0 0px 10px;
  position: relative;
}
input[type="submit"]{
    padding: 15px;
    color: white;
    background: #006A50;
    border: 1px solid #0E0E0E26;
    border-radius: 0px 10px 10px 0;
    position: absolute;
    margin-top: 50px;
    
    
}
footer{
    margin: 50px auto;

}
